@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


*{
    list-style: none;
    // box-sizing: border-box;
//   margin: 0;
//   padding: 0;
    // box-sizing: border-box;
}

.main{
    border: none;
    display: flex;
    position: relative;
    font-family: 'Nunito', sans-serif;
    
header{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    justify-items: left;
    background-color: rgba(50,51,53,1);
    color: #fff;
    min-width: 100%;
    // right: 0;
    position: relative;

}

    .sidebar{
        width: 80px;
        height: 100%;
        flex-shrink: 0;
        background: rgba(33,34,36,1);
        // padding: 30px 0px;
        position: fixed;
        z-index: 20;

        img{
            padding: 10px;
            width: 30px;
            // background: yellow;
            // background: yellowgreen;
            border-radius: 3px;
        }

        img:active{
            padding: 10px;
            width: 30px;
            background: rgba(252,212,11,1);
        }

        .tab-button{
            display: block;
            padding: 10px;
            background: rgba(33,34,36,1);
            border: none;
            width: 100%;
            cursor: pointer;
            outline: none;
        }
        .tab-button:active{
            background: rgba(33,34,36,1);
            
        }
        .tab-button:not(:last-of-type){
            // border-bottom: 1px solid #ccc;
            border: none;
        }
        .tab-btn-active{
            background: rgba(33,34,36,1);
            // border-right: 2px solid #009879;
            font-weight: bold;
            img{
                background: rgba(252,212,11,1);
            }

        }

}

    .content{
        width: 94%;
        // max-width: ;
        // margin-left: 80px;
        padding: 10px;
        display: none;
    }
    .con-active{
        overflow-wrap: break-word;
        display: block;
    }


}








body, html{
    // background: rgb(0,0,0);
    // background: linear-gradient(90deg, rgba(0,0,0,1) 31%, rgba(70,70,70,1) 100%);
    background: rgba(77,77,77,1);
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    margin: 0 auto;
    border: none;
    h1{
        color: #fff;
    }

    .main-content{
        margin-left: 80px;
        width: 100%;
        // margin-top: 75px;
        z-index: 10;
    }

}

.container{
    // margin: 30px 40px;
    border: 0;
    font-family: 'Nunito', sans-serif;
    z-index: 2;
    
    #trigger{
        // margin-top: 900px;
        border-bottom: 1px solid red;
    }

    .list {
        font-family: 'Nunito', sans-serif;
        font-size: 15px;
        width: 100%;
        max-width: 768px;
        background-color: #FFF;
        border: 1px solid #CCC;
        margin-top: 25px;
    }

    main{
        // border: 1px solid #ccc;

        .results{
            background: rgba(63,67,68,1);
            margin: 0;
            border: 1px solid rgba(63,67,68,1);
            border-radius: 5px;
            padding: 10px;;
        }
        
        .warning{
            // background-color: rgba(242, 227, 130, 0.5);
            color: #856404;
            font-weight: bold;
            // background-color: rgba(228, 184, 53, 1);
        }
        .info{
            // background-color: rgba(145, 242, 130, 1);
            color: rgba(61,145,125,1);
            font-weight: bold;
            // background-color: rgba(255, 255, 255, 1);
        }
        .severe{
            // background-color: rgba(242, 130, 145, 1);
            color: rgba(193,67,59,1);
            font-weight: bold;
            // background-color: rgba(255, 82, 82, 1);   
            }
        .pagenumbers button {
            width: 50px;
            height: 50px;
        
            appearance: none;
            border: none;
            outline: none;
            cursor: pointer;
        
            background-color: #44AAEE;
        
            margin: 5px;
            transition: 0.4s;
        
            color: rgba(53, 53, 53, 0.7);
            font-size: 18px;
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        }
        
        .pagenumbers button:hover {
            background-color: #44EEAA;
        }
        
        .pagenumbers button.active {
            background-color: #44EEAA;
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
        }
    }
    main .results .item {
        padding: 10px;
        background-color: rgba(48,53,53,1);
        // border-bottom: 1px solid #CCC;
    }

    main .results .item:nth-child(odd){
        padding: 11px;
        background-color: rgba(48,53,53,1);
        // border-radius: 5px;
    }
    main .results .warning:hover {
        // background-color: rgba(242, 227, 130, 0.9);
    }
    main .results .info:hover {
        color: rgba(61,145,125,0.9);
    }
    main .results .severe:hover {
        color: rgba(193,67,59,0.9);
        // background-color: rgba(242, 130, 145, 0.9);
    }

    #btn, #button{
            // width: 50px;
           padding: 10px;
        
            appearance: none;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: rgba(20,225,95,0.67);
            margin: 5px;
            transition: 0.4s;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.7);
            font-size: 15px;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    }
    
}

body{
    input[type="file"]{
        display: none;
    }

    label{
        background: #f0f0f0;
        height: 30px;
        width: 80px;
        margin: 0;
        border: 1px solid #000;
        width: 100%;
        padding: 10px;
        // position: relative;
    }
}


.box{
 font-family: 'Nunito', sans-serif;
 display: block;

 .tags-input {
     outline: none;
    //  padding: 4px;
    border-radius: 5px;
    //  border-radius: 5px;
    border: 1px solid #dddddd;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    

    .search-button{
        width: 40px;
        // margin-right: 3px;
        color: #000;
        outline: none;
        border: none;
        background: #ccc;
    }

    .main-input{
    flex-grow: 1;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: 'Nunito', sans-serif;
    // padding: 0.5em 0.1em;
    padding: 10px;
    // padding-right: 0px;
    // border-radius: 5px;

    }

    .main-input::placeholder{
        color: #000;
        text-decoration: none;
        font-family: 'Nunito', sans-serif;
    }

    .tag {
        font-size: 85%;
        padding: 0.5em 0.75em;
        margin: 0.25em 0.1em;
        display: inline-block;
        background-color: #424491;
        transition: all 0.1s linear;
        cursor: pointer;
        color:#fff;

        .close::after {
            content: '×';
            font-weight: bold;
            display: inline-block;
            transform: scale(1.4);
            margin-left: 0.75em;
        }

        .close:hover::after {
            color: red;
        }
        
        
    }
    .tag:hover {
      
        background-color: #ddd;
        color: #424491;
    }
    .tags-input::focus{
        background: white;
        box-shadow: 0 0 2px #8CC6BA;
    }
}
}