@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  list-style: none;
}

.main {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: 'Nunito', sans-serif;
}

.main .sidebar {
  width: 125px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #ccc;
  position: fixed;
}

.main .sidebar .tab-button {
  display: block;
  padding: 10px;
  background: #eee;
  border: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.main .sidebar .tab-button:active {
  background: #dddddd;
}

.main .sidebar .tab-button:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}

.main .sidebar .tab-btn-active {
  background-color: #ddd;
  border-right: 2px solid #009879;
  font-weight: bold;
}

.main .content {
  width: 90%;
  margin-left: 125px;
  padding: 10px;
  display: none;
}

.main .con-active {
  display: block;
}

body, html {
  background: #f0f0f0;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  margin: 0 auto;
  border: none;
}

body h1, html h1 {
  color: black;
}

.container {
  margin: 30px 40px;
  border: 0;
  font-family: 'Nunito', sans-serif;
}

.container #trigger {
  border-bottom: 1px solid red;
}

.container .list {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  width: 100%;
  max-width: 768px;
  background-color: #FFF;
  border: 1px solid #CCC;
  margin-top: 25px;
}

.container main {
  border: 1px solid #ccc;
}

.container main .warning {
  color: #856404;
  background-color: rgba(228, 184, 53, 0.5);
}

.container main .info {
  background-color: rgba(145, 242, 130, 0.5);
  color: #000000;
}

.container main .severe {
  color: #721c24;
  background-color: rgba(255, 82, 82, 0.5);
}

.container main .pagenumbers button {
  width: 50px;
  height: 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #44AAEE;
  margin: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgba(53, 53, 53, 0.7);
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.container main .pagenumbers button:hover {
  background-color: #44EEAA;
}

.container main .pagenumbers button.active {
  background-color: #44EEAA;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.container main .results .item {
  padding: 10px;
  border-bottom: 1px solid #CCC;
}

.container main .results .warning:hover {
  background-color: rgba(242, 227, 130, 0.65);
}

.container main .results .info:hover {
  background-color: rgba(145, 242, 130, 0.65);
}

.container main .results .severe:hover {
  background-color: rgba(242, 130, 145, 0.65);
}

.container #btn, .container #button {
  padding: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(20, 225, 95, 0.67);
  margin: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.box {
  margin-left: 20px;
  padding: 40px;
  font-family: 'Nunito', sans-serif;
}

.box .tags-input {
  outline: none;
  border-radius: 5px;
  border: 1px solid #424491;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
}

.box .tags-input .search-button {
  width: 40px;
  color: white;
  outline: none;
  border: none;
  background: #424491;
}

.box .tags-input .main-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'Nunito', sans-serif;
  padding: 10px;
}

.box .tags-input .main-input::-webkit-input-placeholder {
  color: #424491;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

.box .tags-input .main-input:-ms-input-placeholder {
  color: #424491;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

.box .tags-input .main-input::-ms-input-placeholder {
  color: #424491;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

.box .tags-input .main-input::placeholder {
  color: #424491;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

.box .tags-input .tag {
  font-size: 85%;
  padding: 0.5em 0.75em;
  margin: 0.25em 0.1em;
  display: inline-block;
  background-color: #424491;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
  color: #fff;
}

.box .tags-input .tag .close::after {
  content: '×';
  font-weight: bold;
  display: inline-block;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  margin-left: 0.75em;
}

.box .tags-input .tag .close:hover::after {
  color: red;
}

.box .tags-input .tag:hover {
  background-color: #ddd;
  color: #424491;
}

.box .tags-input .tags-input::focus {
  background: white;
  -webkit-box-shadow: 0 0 2px #8CC6BA;
          box-shadow: 0 0 2px #8CC6BA;
}
/*# sourceMappingURL=main.css.map */